@mixin for-main-prod-title {
  font-family: Oswald;
  font-size: $fz30-16;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #1c1c1b;
}

@mixin for-prod-title {
  font-family: Oswald;
  font-size: $fz18;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #1c1c1b;
}

@mixin for-prod-price {
  font-family: Oswald;
  font-size: 18px;
  line-height: 75px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #1c1c1b;
}

@mixin for-prod-price-btn {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
