.nav__scroll {
  background-color: white;
}

.nav__scroll--background-line {
  background: black !important;
}

.nav-scroll__text {
  color: black !important;
}

.nav-scroll__border {
  border-color: black !important;
}

.nav__active {
  border-bottom: 2px solid;
}

.nav__active {
  border-bottom: 2px solid !important;
}

//  STYLE TABS
.tabs__active {
  border-bottom: 2px solid;
}
