// PADDING/MARGIN
$headerPadB: calc(10px + (59 - 10) * ((100vw - 320px) / 1640));
$headerPadR: calc(15px + (170 - 15) * ((100vw - 320px) / 1640));
$mainPT: calc(40px + (100 - 40) * ((100vw - 320px) / 1640));
$companyLogoPB: calc(10px + (120 - 30) * ((100vw - 320px) / 1640));

// slider-text
$Slick-textPT: calc(40px + (264 - 40) * ((100vw - 320px) / 1640));
$Slick-textPB: calc(40px + (324 - 40) * ((100vw - 320px) / 1640));
$Slick-arrow: calc(15px + (40 - 15) * ((100vw - 320px) / 1640))
  calc(20px + (63 - 20) * ((100vw - 320px) / 1640));

// FONT SIZE

$fz14: calc(14px + (18 - 14) * ((100vw - 320px) / 1640));
$fz16: calc(14px + (16 - 14) * ((100vw - 320px) / 1640));
$fz18: calc(12px + (18 - 12) * ((100vw - 320px) / 1640));
$fz18-14: calc(14px + (18 - 14) * ((100vw - 320px) / 1640));
$fz18-13: calc(13px + (18 - 13) * ((100vw - 320px) / 1640));
$fz20: calc(15px + (20 - 15) * ((100vw - 320px) / 1640));
$fz22: calc(16px + (22 - 16) * ((100vw - 320px) / 1640));
$fz24-12: calc(12px + (24 - 12) * ((100vw - 320px) / 1640));
$fz24-18: calc(18px + (24 - 18) * ((100vw - 320px) / 1640));
$fz24: calc(16px + (24 - 16) * ((100vw - 320px) / 1640));
$fz24-14: calc(14px + (24 - 14) * ((100vw - 320px) / 1640));
$fz26: calc(16px + (26 - 16) * ((100vw - 320px) / 1640));
$fz30-16: calc(16px + (30 - 16) * ((100vw - 320px) / 1640));
$fz30: calc(20px + (30 - 20) * ((100vw - 320px) / 1640));
$fz30-16: calc(16px + (30 - 16) * ((100vw - 320px) / 1640));
$fz43: calc(28px + (43 - 28) * ((100vw - 320px) / 1640));
$fz55: calc(22px + (55 - 22) * ((100vw - 320px) / 1640));
$fz60: calc(10px + (14 - 10) * ((100vw - 320px) / 1640));
